#############################################################################
# Bestand:  google-drive.desktop                                            #
# Doel:     Desktopbestand voor Google Drive.                               #
# Gebruik:  Door een script en/of instellingsbestand (aanbevolen).          #
#           Door dit bestand te kopiëren naar ~/.local/share/applications   #
#           (script starten via de Snelzoeker).                             #
#           Door dit bestand te kopiëren naar ~/, of ~/Bureaublad (script   #
#           starten via klikken en/of slepen naar de Starter).              #
# Gebruikt: -                                                               #
# Auteur:   Karel Zimmer (http://karelzimmer.nl, info@karelzimmer.nl)       #
# ------------------------------------------------------------------------- #
# Dit werk valt onder een Creative Commons Naamsvermelding-GelijkDelen 4.0  #
# Internationaal licentie (CC BY-SA 4.0 NL).                                #
# Bezoek http://creativecommons.org/licenses/by-sa/4.0/deed.nl om een kopie #
# te zien van de licentie of stuur een brief naar Creative Commons,         #
# PO Box 1866, Mountain View, CA 94042, USA.                                #
# ------------------------------------------------------------------------- #
# Versies:  1.0.0   2015-08-22  Eerste versie.                              #
#           2.0.0   2015-09-18  Hernoemd (van grive2 naar grive).           #
#           3.0.0   2015-09-19  Hernoemd (v/h grive.desktop).               #
#############################################################################
# readonly VERSION_NUMBER=3.1.2
# readonly RELEASE_DATE=2016-03-21

[Desktop Entry]
Name=Google Drive
Comment=Synchroniseer Google Drive
Exec=/home/karel/scripts/google-drive
Icon=/home/karel/scripts/google-drive.png
Type=Application
Actions=Forceer;

[Desktop Action Forceer]
Name=Download bestanden vanaf Google Drive, niet uploaden
Exec=/home/karel/scripts/google-drive --forceer

# Einde desktopbestand.
