# ##############################################################################
# Bureaublad-configuratiebestand voor kzinstall --info.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht © 2017-2020 Karel Zimmer.
# GNU Algemene Publieke Licentie v3 <https://www.gnu.org/licenses/gpl.html>.
# ##############################################################################
# REL_NUM=04.00.09
# REL_DAT=2020-09-11
# REL_MSG='Keywords toegevoegd'

[Desktop Entry]
Type=Application
Name=Install apps info
Name[nl]=Apps installeren info
GenericName=Install progam
GenericName[nl]=Installatieprogramma
Comment=Show additional instructions after installing the apps
Comment[nl]=Toon aanvullende instructies na het installeren van de apps
Keywords=kzinstall;info;
Keywords[nl]=kzinstall;informatie;
Exec=/usr/bin/kzinstall --info --gui
Icon=/usr/share/pixmaps/kzinstall-info.svg

# EOF
