/*
###############################################################################
# Style sheet for website karelzimmer.nl.
#
# Written by Karel Zimmer <info@karelzimmer.nl>, CC0 1.0 Universal
# <https://creativecommons.org/publicdomain/zero/1.0>, 2010-2023.
###############################################################################
*/

/*
###############################################################################
# Body
###############################################################################
*/

body {
    background-color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
    }

/*
###############################################################################
# Text in red
###############################################################################
*/

mark.red {
    color:red;
    background: none;
}

/*
###############################################################################
# Header
###############################################################################
*/

header {
    margin-bottom: 25px;
    text-align: center; 
    }

/*
###############################################################################
# Navigation
###############################################################################
*/

nav.hdr {
    margin-bottom: 50px;
    }

nav.top {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: right;
    }

/*
###############################################################################
# Paragraphs
###############################################################################
*/

p.mid {
    font-weight: bold;
    text-align: center;
    }

/*
###############################################################################
# Tables
###############################################################################
*/

table {
    background-color: gainsboro;
    border-collapse: collapse; /* anders rand om tabel en iedere cel */
    table-layout: auto;
    width: 100%;
    }

table.hdr {
    height: 75px;
    table-layout: fixed;
    }

/* De zebrastrepen met nth-child van een oneven tabelrij */
tbody tr:nth-child(odd) {
    background-color: gainsboro;
    }

/* De zebrastrepen met nth-child van een even tabelrij */
tbody tr:nth-child(even) {
    background-color: darkseagreen;
    }

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    }

th {
    background-color: darkseagreen;
    font-weight: bold;
    }

th.mid, td.mid {
    text-align: center;
    }

td.sel {
    background-color: darkseagreen;
    font-weight: bold;
    }

 /* 1-koloms tabel */
.t1c1 {
    width: 100%;
    }

 /* 2-koloms tabel */
.t2c1 {
    width: 7%;
    }

.t2c2 {
    width: 93%;
    }

/*
###############################################################################
# Horizontal line
###############################################################################
*/

hr {
    background-color: black;
    border: 0;
    color: black;
    height: 1px;
    margin-top: 40px;
    }

/*
###############################################################################
# Links
###############################################################################
*/

a {
    color: darkblue;
    font-weight: bold;
    }

a.hdr {
    border: 10px solid transparent;
    color: darkblue;
    font-weight: bold;
    }

a img {
    border-top: 2px solid transparent;
    color: darkblue;
    }

a:link, a:visited {
    text-decoration: none;
    }

a:hover, a:active {
    background-color: darkblue;
    color: seashell;
    }

a img:hover, a img:active {
    background-color: darkblue;
    }

a.img:hover, a.img:active {
    background-color: transparent;
    border-top: 2px solid darkblue;
    color: transparent;
    }

a.topl {
    border: 0 solid transparent;
    color: black;
    float: left;
    font-size: small;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    }

a.topr {
    border: 0 solid transparent;
    color: black;
    float: right;
    font-size: small;
    font-weight: normal;
    margin-top: 8px;
    margin-bottom: 8px;
    }
    
a.topl:hover, a.topl:active, a.topr:hover, a.topr:active {
    background-color: black;
    color: seashell;
    }

/*
###############################################################################
# Lists
###############################################################################
*/

ul {
    background-color: gainsboro;
    border: 1px solid black;
    font-weight: bold;
    }

li.hdr {
    background-color: darkseagreen;
    border-bottom: 4px solid darkseagreen;
    border-top: 4px solid darkseagreen;
    list-style-type: circle;
    }

li.dat {
    background-color: gainsboro;
    border-bottom: 0 solid gainsboro;
    border-top: 0 solid gainsboro;
    list-style-type: disc;
    }

ol {
    background-color: gainsboro;
    border: 1px solid black;
    margin-bottom: 0;
    }

/*
###############################################################################
# Footer
###############################################################################
*/

footer {
    font-weight: normal;
    margin-top: 50px;
    text-align: center;
    }
    