AddHandler x-httpd-php73 .php
# File: .htacces (Hypertext access)
# Desc: Server-side redirection (server-side rewriting)
# Auth: Karel Zimmer
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.karelzimmer\.nl|karelzimmer\.nl)$ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://karelzimmer.nl/$1 [R,L]
DirectoryIndex html/home.html
Redirect permanent /s https://karelzimmer.nl/data/linux/scripts/kz-getdeb
Redirect permanent /kz https://karelzimmer.nl/data/linux/scripts/kz-getdeb
