AddHandler x-httpd-php73 .php
###############################################################################
# Server-side redirection w/.htacces (Hypertext access).
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
###############################################################################
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.karelzimmer\.nl|karelzimmer\.nl)$ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://karelzimmer.nl/$1 [R,L]
DirectoryIndex html/home.html
Redirect permanent /kz https://karelzimmer.nl/data/linux/scripts/kz-getdeb
