# ##############################################################################
# Bureaublad-configuratiebestand voor Git Gui.
#
# Geschreven door Karel Zimmer <info@karelzimmer.nl>.
#
# Auteursrecht © 2019-2020 Karel Zimmer.
# GNU Algemene Publieke Licentie v3 <https://www.gnu.org/licenses/gpl.html>.
# ##############################################################################
# REL_NUM=02.01.01
# REL_DAT=2020-09-20
# REL_MSG='Categories gewijzigd'

[Desktop Entry]
Type=Application
Name=Git Gui
GenericName=Versiebeheersysteem
Comment=Een grafische gebruikersinterface voor git
Keywords=bitkeeper;bazaar;scm;vcs;sccs;code;
Categories=KZ-Scripts;
Exec=git gui
Icon=/usr/share/git-gui/lib/git-gui.ico

# EOF
