###############################################################################
# Bestand:  restore-no-root.desktop
# Doel:     Bureaubladbestand voor restore met optie no-root.
# Gebruik:  Door een script en/of instellingsbestand (aanbevolen).
#           Door dit bestand te kopiëren naar ~/.local/share/applications.
# Auteur:   Karel Zimmer (http://karelzimmer.nl, info@karelzimmer.nl)
# -----------------------------------------------------------------------------
# Dit werk valt onder een Creative Commons Naamsvermelding-GelijkDelen 4.0
# Internationaal licentie (CC BY-SA 4.0).
# Bezoek http://creativecommons.org/licenses/by-sa/4.0/deed.nl om een kopie te
# zien van de licentie of stuur een brief naar Creative Commons, PO Box 1866,
# Mountain View, CA 94042, USA.
# -----------------------------------------------------------------------------
# Versies:  1.0.0   2016-10-29  Eerste versie.
###############################################################################
# VERSION_NUMBER=1.4.2
# RELEASE_DATE=2018-02-18

[Desktop Entry]
Name=Restore No-root
Comment=Zet de Persoonlijke map terug uit een back-up (reservekopie)
# Script getstarted past locatie /home/... en Exec= aan.
Exec=gnome-terminal --geometry=100x45 --command="/home/karel/scripts/restore --no-root --zz-starter"
# Script getstarted past locatie /home/... aan.
Icon=/home/karel/scripts/.icons/restore.svg
Type=Application

# Einde bureaubladbestand.
