AddHandler x-httpd-php73 .php
###############################################################################
# SPDX-FileComment: Server-side redirection w/.htacces (Hypertext access)
#
# SPDX-FileCopyrightText: Karel Zimmer <info@karelzimmer.nl>
# SPDX-License-Identifier: CC0
###############################################################################
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.karelzimmer\.nl|karelzimmer\.nl)$ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://karelzimmer.nl/$1 [R,L]
DirectoryIndex html/nl/start.html
Redirect permanent /getdeb https://raw.githubusercontent.com/karelzimmer/kz-scripts/main/usr/bin/kz-getdeb
Redirect permanent /en https://karelzimmer.nl/html/en/home.html
