#############################################################################
# Bestand:  vnc-viewer.desktop                                              #
# Doel:     Bureaubladbestand voor VNC Viewer.                              #
# Gebruik:  Door een instellingsbestand (aanbevolen).                       #
#           Door dit bestand te kopiëren naar ~/.local/share/applications.  #
# Auteur:   Karel Zimmer (http://karelzimmer.nl, info@karelzimmer.nl)       #
# ------------------------------------------------------------------------- #
# Dit werk valt onder een Creative Commons Naamsvermelding-GelijkDelen 4.0  #
# Internationaal licentie (CC BY-SA 4.0).                                   #
# Bezoek http://creativecommons.org/licenses/by-sa/4.0/deed.nl om een kopie #
# te zien van de licentie of stuur een brief naar Creative Commons,         #
# PO Box 1866, Mountain View, CA 94042, USA.                                #
# ------------------------------------------------------------------------- #
# Versies:  1.0.0   2014-12-28  Eerste versie.                              #
#############################################################################
# VERSION_NUMBER=1.0.1
# RELEASE_DATE=2017-11-20

[Desktop Entry]
Name=VNC Viewer
Comment=Computer op afstand bedienen
# Script getstarted past locatie /home/... aan.
Exec=/home/karel/scripts/vnc-viewer
# Script getstarted past locatie /home/... aan.
Icon=/home/karel/scripts/vnc-viewer.png
Type=Application

# Einde bureaubladbestand.
